<!--Todas las paginas de usuario que van a pertenercer al dashbord van a heredar de la plantilla maestra del dashboard-->
{% extends "dashboard/master.html"%}

{% block title%} Update task {%endblock%}

{% block content%} 

    <form action="" method="post" enctype="multipart/form-data">
        {% include 'dashboard/task/_form.html' %}
    </form>

    {% if task.document: %}
        {% with document=task.document %}
        <h3>Documento: </h3>
            {%include 'dashboard/document/_detail.html' %}
        {%endwith%}
    {%endif%}

{%endblock%}